.Block-container {
  position: relative;
  width: 60%;
  height: 10%;
  margin: 2%;
  padding: 0% 2% 0% 2%;
  background-color: azure;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 1px black;
  border: 1px #282c34 solid;
}

.Text-container {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  overflow: hidden;
  margin: 0 1rem 0 1rem;
}

.Block-icon-container {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.Block-header {
  white-space: nowrap;
}

.Block-text {
  line-height: 1.5em;
  overflow: hidden;
}