.button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.icon {
  filter: invert(90%);
  height: 35px;
}

.icon:hover {
  cursor: pointer;
  filter: invert(60%);
}