.IconButton-container {
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.IconButton-bot-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.IconButton-bot-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.IconButton-top-left {
  position: absolute;
  top: 5px;
  left: 5px;
}

.IconButton-static {
  position: static;
}

.IconButton-img {
  filter: invert(90%);
}

.IconButton-img:hover {
  cursor: pointer;
  filter: invert(60%);
}

.IconButton-lg {
  height: 35px;
  width: 35px;
}

.IconButton-md {
  height: 25px;
  width: 25px;
}

.IconButton-sm {
  height: 17px;
  width: 17px;
}

.IconButton-dark {
  filter: invert(10%);
}

