.Modal-outer-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.Modal-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Modal-hide {
  display: none;
}

.Modal-inner-container {
  background-color: rgb(255, 142, 101);
  min-width: 30%;
  height: auto;
  padding: 1rem;
  border: 1px #282c34 solid;
}

.Modal-header {
  font-size: 1rem;
}

.Modal-form-label {
  font-size: 1rem;
}
