.VariableModal-outer-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.VariableModal-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.VariableModal-hide {
  display: none;
}

.VariableModal-inner-container {
  background-color: rgb(255, 142, 101);
  min-width: 30%;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  border: 1px #282c34 solid;
}

.VariableModal-header {
  font-size: 1rem;
}

.VariableModal-form-label {
  font-size: 1rem;
}

.VariableModal-button {
  background-color: 'white';
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  width: auto;
  margin: 0.25rem 0 0.25rem 0;
}