.VariableModal-outer-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.VariableModal-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.VariableModal-hide {
  display: none;
}

.VariableModal-inner-container {
  background-color: #d5e5ea;
  min-width: 30%;
  height: auto;
  padding: 2rem 1rem 2rem 1rem;
  border: 1px #282c34 solid;
}

.VariableModal-button {
  background-color: 'white';
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.2rem;
  width: 40%;
  margin: 0.25rem 0 0.25rem 0;
}

.VariableModal-header {
  padding-bottom: 1rem;
}